/* ============= GERAL =========== */

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --hue: 293;
  --primary-color: hsl(var(--hue), 76%, 48%);
  --secondary-color: hsl(0, 0%, 0%);
  --bck-color: hsl(var(--hue), 90%, 65%);

  --nav-height: 15rem;
  --footer-height: 5rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.6rem;
  font-family: 'Raleway';
  overflow: overlay;

  text-align: center;
  background-color: var(--primary-color);
}
ul {
  list-style: none;
}
a {
  color: white;
  cursor: pointer;
}

.wrapper {
  width: 37.5rem;
  margin: 0 auto;
}
header {
  padding: 2rem;
}

button {
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 1.6rem;
}

.btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: white;
  padding: 0.5rem;
  gap: 1rem;
  margin: 1rem;
  width: 10rem;
}

/* ============= NAVIGATION =========== */

nav#navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: var(--secondary-color);
  padding-bottom: 3rem;

  height: var(--nav-height);
  width: 100%;
  position: fixed;
  top: 0;
}

nav#navigation h1 {
  color: white;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
nav#navigation p {
  font-family: 'Arial Narrow';
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
nav#navigation .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 20rem;
  margin: 0 auto;

  background-color: white;
  border-radius: 1rem;
}
nav#navigation img {
  padding: 0.5rem;
  width: 5rem;
}

/* ============= APP =========== */
section#app {
  padding-top: calc(var(--nav-height) + 2rem);
}

section#app .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#app .content #caixa {
  margin: 0 auto;
  height: 20rem;
  width: 20rem;
  border: 1px solid black;
}
section#app .wrapper header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ============= RESULT =========== */
section#result {
  display: none;
}
body.scrollnone {
  overflow: hidden;
}
section#result.result {
  padding-top: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
}
section#result .title-result {
  font-size: 5rem;
}
section#result .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#result .img-result {
  width: 50%;
}
section#result .btn-next {
  font-size: 3rem;
  color: white;
  background-color: black;

  padding: 1rem;
}

/* ============= FOOTER =========== */
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-color);
  width: 100%;
  position: fixed;
  bottom: 0;
  height: var(--footer-height);
}
footer p {
  color: white;
}
