*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    height: 100%;
}

/* header */

.cabecalho-principal{
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: auto;
    height: 70px;

    

}
.pontuacao-game{
    background-color: white ;
    color: black;

    display: flex;
    align-items: center;

    margin: 2px ;
    margin-left: 5%;   
    padding: 2px 30px;
    font-size: 25px;
    font-weight: 700;

    border-radius: 10px ;
}
.pontuacao-game img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.nome-jogo{
    font-size: 30px;
    font-weight: bolder;

    color: white;

    margin-right: 100px;
}
/* end */
/* Corpo style */
.container{
    height: 100%;
}

.corpo{
    background-color: #8470FF;
    height: 100%;
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.esquerda{
    color:white;

    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    justify-self: center;
    align-items: center;
    
}

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;     
}

.color-name{
    margin-top: 10px;
    font-size: 25px;
    color: black;
    font-weight: 800;
}

.cor-atual{
    margin-top:10px;
    height:250px;
    width: 250px;

    border: 5px solid inherit;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px#fff, 0px 0px 20px#fff;

}

.btn-responder{
    margin-top: 25px;
    color: white;
    background-color: transparent;

    width:80%;
    padding: 5px;

    font-size: 30px;
    font-weight: bolder;

    border: 2px solid   white;
    border-radius: 5px;

    cursor: pointer;
    
}

.direita{
    width: 40%;
    height: 100%;
}

.img-direita{
    height: 500px;
    width: 100%;
   
}

.img-result{
    height: 100%;
    width: 100%;  
}
/* end */
/* rodapé */
.rodape{
    background-color: black;

    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;

  
}
/* resultado */
.center{
    width: flex;
    height:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.img-result{
    height: 100%;
    display: 100%;
}


.title-result{
    color:black;
}

.btn-next{
    color: white;
    background-color: black;

    display: flex;
    width:80%;
    padding: 5px;
    margin-top: 10px;
    justify-content: center;

    font-size: 10px;
    font-weight: bolder;

    border: 1px solid white;
    border-radius: 5px;

    cursor: pointer;
}
