*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    background-color: #8470FF;
}


/* header */

.cabecalho-principal{
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: auto;
    height: auto;

    

}
.pontuacao-game{
    background-color: white ;
    color: black;

    display: flex;
    align-items: center;

    margin: 2px ;
    margin-left: 5%;   
    padding: 2px 30px;
    font-size: 8px;
    font-weight: 700;

    border-radius: 10px ;
}
.pontuacao-game img{
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
.nome-jogo{
    font-size: 12px;
    font-weight: bolder;

    color: white;

    margin-right: 20px;
}
/* end */
/* Corpo style */
.container{
    height: 100%;
}

.corpo{
    height: 100%;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.esquerda{
    color:white;

    width: 40%;
    height:100%;

    display: flex;
    flex-direction: column;
    
    justify-self: center;
    align-items: center;
    
}

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    text-align: center;     
}

.color-name{
    
    font-size: 10px;
}

.cor-atual{
    margin-top: 5px;
    height: 100px;
    width: 100px;

    border: 5px solid inherit;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px#fff, 0px 0px 20px#fff;

}

.btn-responder{
    margin-top: 10px;
    color: white;
    background-color: transparent;

    width:80%;
    padding: 5px;

    font-size: 10px;
    font-weight: bolder;

    border: 2px solid   white;
    border-radius: 5px;

    cursor: pointer;
    
}

.direita{
    width: 40%;
}

.img-direita{
    height: 100%;
    width: 100%;
   
}

.img-result{
    height: 100%;
    width: 100%;  
}
/* end */
/* rodapé */
.rodape{
    background-color: black;


    display: flex;
    justify-content: center;

    padding: 10px;
}